/* ==== Common Fix starts here==== */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Inter', sans-serif;
}
/* ==== Common Fix ends here==== */
.wordinleft{
    text-align: justify;
}



/* ==== Common Fix starts here==== */

.firstsection{
    height: 430px;
    border: 3px solid black;
    display: flex;
}

.firstsection-leftdiv{
    padding: 20px;
    width: 50%;
    height: 100%;
    background: var(--gray-color);
}
.firstsection-rightdiv{
    width: 50%;
    height: 100%;
    background: var(--linear-gradient),url("./images/image1.jpg");
    background-size: cover;
    background-position: bottom left;

}
/* ==== Common Fix ends here==== */

/* ===first section starts here===  */
span{
    color: var(--main-color);
}
.logotext{
    color: var(--main-color);
}
.heading{
    margin-bottom: 20px;
}
.line{
    height: 16px;
    background: var(--main-color);
    width: 224px;
}
.firstsection-leftdiv p {
    margin-bottom: 25px;
}



.link-holder {
    /* border: 3px solid purple; */
    color: var(--white-color);
    text-transform: uppercase;
    display: flex;
    justify-content: space-evenly;
    padding: 20px 0;
}

/* ====firts section starts here==== */